{% extends "hmi/base.html" %}
{% block title %}Request details{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
    <div class="container">
        <h3>Dokończ przysłowie:</h3>
        <h2><strong>{{poczatek}}</strong>...</h2>
        <br>
        <form method="post">
        {% csrf_token %}
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="Przyslowie">
                  <div class="btn-group-vertical">
                      {% for key, value in dokonczenia.items %}
                          <div class="form-check">
                            <input type="radio" class="form-check-input" value="{{ value }}" name="przyslowie" id="{{ value }}">
                            <label class="btn-lg btn-warning" for="{{ value }}">{{ key }}</label>
                          </div>
                      {% endfor %}
                  </div>
               </div>
            </div>
            <br>
            <br>
            <button type="submit" class="btn-lg btn-success">Zatwierdz</button>
        </form>
    </div>

{% endblock %}